<div class="ui tab" data-tab="fields">
    <h3 class="ui top attached header">{{ 'sylius_registration_drawing.admin.bloc_fields'|trans }}</h3>

    <div class="ui attached segment">
        <div class="ui fluid action input" id="attributeChoice" style="margin-bottom: 15px;">
            {{ form_widget(formFields, {'attr': {'class': 'ui fluid search dropdown', 'id': 'sylius_field_choice'}}) }}
            <button id="addFieldsBtn" class="ui green labeled icon button" type="button">
                <i class="icon plus"></i> {{ 'sylius_registration_drawing.admin.add_fields'|trans }}
            </button>
        </div>
        <div id="fieldsContainer">
            {% set dateChoices = {
                'd/m/Y': 'Date d/m/Y',
                'd/m/Y H:i': 'Date d/m/Y H:i',
                'Y/m/d': 'Date Y/m/d',
                'Y/m/d H:i': 'Date Y/m/d H:i',
                'd-m-Y': 'Date Y-m-d',
                'd-m-Y H:i': 'Date Y-m-d H:i',
                'Y-m-d': 'Date Y-m-d',
                'Y-m-d H:i': 'Date Y-m-d H:i',
                'dmY': 'Date dmY',
                'dmY H:i': 'Date dmY H:i',
                'Ymd': 'Date Ymd',
                'Ymd H:i': 'Date Ymd H:i'
            } %}
            {% for field in fieldAssociations %}
                {% set fieldId = field.fieldId %}
                {% set fieldName = (formFields.vars.choices|filter(choice => choice.value is same as (fieldId|string))|first).label %}
                {% set fieldNameSlugified = fieldName|replace({"'": "-", " ": "-"})|lower %}
                <h4 class="ui dividing header">{{ fieldName }}</h4>
                <div class="drawing-column three fields">
                    <div class="field">
                        <label for="{{ fieldNameSlugified }}-name-{{ fieldId }}">{{ 'sylius_registration_drawing.form.drawing_field.name'|trans }}</label>
                        <input type="text" id="{{ fieldNameSlugified }}-name-{{ fieldId }}" name="fields[{{ fieldId }}][name]]" value="{{ fieldName }}">
                    </div>
                    <div class="field">
                        <label for="{{ fieldNameSlugified }}-order-{{ fieldId }}">{{ 'sylius_registration_drawing.form.drawing_field.order'|trans }}</label>
                        <input type="number" class="drawing-field-order" id="{{ fieldNameSlugified }}-order-{{ fieldId }}" name="fields[{{ fieldId }}][order]" min="0" value="{{ loop.index }}" required="required">
                    </div>
                    <div class="field">
                        <label for="{{ fieldNameSlugified }}-position-{{ fieldId }}">{{ 'sylius_registration_drawing.form.drawing_field.position'|trans }}</label>
                        <input type="number" id="{{ fieldNameSlugified }}-position-{{ fieldId }}" name="fields[{{ fieldId }}][position]]" min="0" value="{{ field.position }}">
                    </div>
                    <div class="field">
                        <label for="{{ fieldNameSlugified }}-length-{{ fieldId }}">{{ 'sylius_registration_drawing.form.drawing_field.length'|trans }}</label>
                        <input type="number" name="fields[{{ fieldId }}][length]]" min="0" value="{{ field.length }}">
                    </div>
                    <div class="field">
                        <label for="{{ fieldNameSlugified }}-Format-{{ fieldId }}">{{ 'sylius_registration_drawing.form.drawing_field.format'|trans }}</label>
                        <select id="{{ fieldNameSlugified }}-format-{{ fieldId }}" name="fields[{{ fieldId }}][format]]">
                            <option value="" selected="selected"></option>
                            {% for key, date in dateChoices %}
                                <option value="{{ key }}" {{ key == field.format ? 'selected' : '' }}>{{ date }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="field">
                        <label for="{{ fieldNameSlugified }}-selection-{{ fieldId }}">{{ 'sylius_registration_drawing.form.drawing_field.list_values'|trans }}</label>
                        <input type="text" id="{{ fieldNameSlugified }}-selection-{{ fieldId }}" name="fields[{{ fieldId }}][selection]]" placeholder="m => MR;f => MME;u => NR" value="{{ field.selection }}">
                    </div>
                    <div class="field">
                        <button class="ui red right labeled icon button remove-field" style="margin-top: 27px">
                            {{ 'sylius_registration_drawing.form.drawing_field.delete_field'|trans }}
                            <i class="remove icon"></i>
                        </button>
                    </div>
                </div>
            {% else %}

            {% endfor %}
        </div>
    </div>
</div>
