<div class="ui active tab" data-tab="general">
    {{ form_errors(form) }}
    <div class="two fields">
        {{ form_row(form.name) }}
        {{ form_row(form.encoding) }}
    </div>
    <div class="two fields">
        {{ form_row(form.format) }}
        {{ form_row(form.delimiter) }}
    </div>
    <div class="two fields">
        {{ form_row(form.periodicity) }}
        {{ form_row(form.day) }}
    </div>
    <div class="two fields">
        {{ form_row(form.currencyFormat) }}
        {{ form_row(form.currencyDelimiter) }}
    </div>
    <div class="two fields">
        {{ form_row(form.send_mode) }}
        {{ form_row(form.deposit_address) }}
    </div>
    <div class="two fields">
        {{ form_row(form.user) }}
        {{ form_row(form.password) }}
    </div>
    <div class="two fields">
        {{ form_row(form.host) }}
        {{ form_row(form.port) }}
    </div>
    <div class="two fields">
        {{ form_row(form.recipients, {'attr': {'placeholder': 'recipient.one@rmedia.com;recipient.two@rmedia.com'}}) }}
    </div>
    <div class="ui hidden divider"></div>
    {{ form_widget(form) }}
</div>
