<div class="ui active tab" data-tab="general">
    {{ form_errors(form) }}
    <div class="two fields">
        {{ form_row(form.name) }}

    </div>
    <div class="two fields">
        {{ form_row(form.format) }}
        {{ form_row(form.delimiter) }}
    </div>
    <div class="two fields">
        {{ form_row(form.periodicity) }}
        {{ form_row(form.day) }}
    </div>
    <div class="two fields">
        {{ form_row(form.send_mode) }}
        {{ form_row(form.deposit_address) }}
    </div>
    <div class="two fields">
        {{ form_row(form.user) }}
        {{ form_row(form.ssh_key) }}
    </div>
    <div class="ui hidden divider"></div>
    {{ form_widget(form) }}
</div>
